<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48057297815-uvkgauvj3b14hlb6807aj4m74s6nftdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48057297815-uvkgauvj3b14hlb6807aj4m74s6nftdj</string>
	<key>API_KEY</key>
	<string>AIzaSyAg_z7C062OVMfpqeiV415d4U26iDjCjBU</string>
	<key>GCM_SENDER_ID</key>
	<string>48057297815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourECollegeApp</string>
	<key>PROJECT_ID</key>
	<string>our-e-college-app-909e3</string>
	<key>STORAGE_BUCKET</key>
	<string>our-e-college-app-909e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48057297815:ios:ca71b9ffe338bdf12b72d2</string>
</dict>
</plist>